body {
    --y-1: 255, 187, 14;
    --w-0: 255, 222, 35;
    --e-0: 240, 36, 36;
    --z-0: 0, 0, 0;

    --bsh-1: 0 1px 8px;
}

.App {
    background-color: rgb(253, 253, 253);
    height: 100vh;
}

.App > header {
    height: 10%;
    color: rgb(var(--z-0), 0.7);
    border-bottom: 1px solid rgb(var(--z-0), 0.1);
    padding-inline: 8px;
}

.App > main {
    height: 90%;
}

header > h3,
header > .add-icon {
    width: 90%;
    display: inline-flex;
    align-items: center;
    padding-inline: 16px;
    font-weight: 500;
    height: 100%;
}

header > .add-icon {
    width: 10%;
    align-items: center;
    justify-content: center;
    float: right;
}

.add-icon > i {
    cursor: pointer;
    background-color: rgb(var(--y-1), 1);
    padding: 9% 10%;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgb(var(--z-0), 0.3);
    color: white;
    transition: 0.2s;
}

.add-icon > i:hover {
    background-color: rgb(var(--y-1), 0.8);
    box-shadow: 0 2px 4px rgb(var(--z-0), 0.3);
}